/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: Heebo, sans-serif;
}

header {
  padding: 0 20px;
  background-color: #111;
}

header a {
  text-decoration: none;
  padding: 8px;
  font-size: 0.85rem;
  display: inline-block;
  color: #f1f1f1;
}

header a:hover {
  background-color: #fff;
  color: #111;
}

h1, #wrapper > h2, section {
  padding: 20px;
}

h1 a {
  text-decoration: none;
  color: #111;
}

h1 a:hover {
  color: #48efce;
}

h1, header, #pagination a, .minutes h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
}

h1 {
  font-size: 1.7rem;
}

p, h2 {
  margin: 10px 0;
}

h2 {
  font-size: 1.35rem;
}

#strains {
  width: 100%;
}

#strains li {
  margin: 3px 0;
  float: left;
  width: 100%;
  overflow: hidden;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

#strains li a {
  background-color: #d7f9ff;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  line-height: 1.1rem;
  color: #111;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

#strains li a h2 {
  font-size: 1rem;
}

#strain-detail {
  padding: 0 20px;
}

#strains li a:hover {
  background-color: #fff2aa;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

label {
  display: block;
  margin: 20px 0 5px;
}

.minutes {
  padding: 10px 10px 5px 15px;
  margin: 1px;
  background-color: #f1f1f1;
}

#reviews {
  padding: 0;
}

.review {
  margin: 10px 0;
  background-color: #d7f9ff;
  position: relative;
}

.five, .five:hover,
.ten, .ten:hover,
.fifteen, .fifteen:hover,
.twenty, .twenty:hover,
.review, .review:hover {
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
}

.five {
  background-color: #9cf5ff;
}

.five h3 {
  color: #67d1dd;
}

.ten {
  background-color: #73e4f1;
}

.ten h3 {
  color: #4fc2cf;
}

.fifteen {
  background-color: #6aceef;
}

.fifteen h3 {
  color: #46abcc;
}

.twenty {
  background-color: #52c7f2;
}

.twenty h3 {
  color: #319dc5;
}

.review:hover {
  background-color: #fff2aa;
}

.review:hover .five {
  background-color: #ecd851;
}

.review:hover .five h3 {
  color: #d6c23b;
}

.review:hover .ten {
  background-color: #f1c356;
}

.review:hover .ten h3 {
  color: #daad42;
}

.review:hover .fifteen {
  background-color: #eca951;
}

.review:hover .fifteen h3 {
  color: #d7933b;
}

.review:hover .twenty {
  background-color: #f0913d;
}

.review:hover .twenty h3 {
  color: #d97b28;
}

.add-review label {
  margin-top: 0;
}

.review .comments, .review > a > h3, .review > h3 {
  padding: 10px;
}

.review .comments {
  white-space: pre-wrap;
  line-height: 1.1rem;
}

.review h3 {
  font-size: 1rem;
  font-weight: bold;
}

.review .minutes h3 {
  font-size: 1rem;
  display: inline;
  margin-right: 5px;
}

.review .minutes p {
  display: inline;
  font-size: 0.9rem;
}

.review > a {
  text-decoration: none;
  outline: none;
}

.review > a > * {
  color: #111;
}

.add-review {
  background-color: #d7f9ff;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 5px solid #111;
}

.add-review form div, .add-review form p {
  padding: 10px 20px;
}

.add-review form textarea, .add-review button {
  margin: 10px 20px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px 5px 5px;
  font-size: 0.8rem;
  background-color: #ccc;
  text-transform: uppercase;
  color: #666;
  opacity: 0.5;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.delete:hover {
  opacity: 1.0;
  background-color: #f00;
  color: #ffb9c5;
  transition: all 1s;
  -webkit-transition: all 1s;
}

input[type="text"], textarea {
  font-family: Heebo, sans-serif;
  padding: 2px;
  font-size: 1.1rem;
  border: 1px solid #111;
  width: 70%;
}

textarea {
  max-height: 300px;
  min-height: 80px;
  resize: vertical;
}

button {
  display: block;
  margin: 10px 0 30px;
}

section.search {
  padding-bottom: 0;
}

section.profile {
  padding: 0 20px;
}

#pagination {
  margin: 20px;
  float: left;
  clear: both;
}

#pagination a {
  display: inline-block;
  font-size: 1rem;
  margin-right: 20px;
  padding: 10px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
}

#pagination a:hover {
  color: #111;
  background-color: transparent;
}
