<h1>directory of strains</h1>

<ul id="strains">
  {{range .strains}}
    <li>
      <h2>{{.Name}}</h2>
      <p>Seed company: {{.SeedCompanyName}}</p>
    </li>
  {{end}}
</ul>

<div id="pagination">
  <a href="/directory?page={{ .prev }}">Prev</a>
  <a href="/directory?page={{ .next }}">Next</a>
</div>
