<section class="search">
  <form method="post" action="/search">
    <p>Search requires a prefix.</p>
    <input type="text" name="name" placeholder="SEARCH" value="{{.search}}">
    {{.csrfField}}
    <button type="submit">Find</button>
  </form>
</section>

<h1>directory</h1>

<section>
  <ul id="strains">
    {{range .strains}}
      <li>
        <a href="/strain/{{.Ucpc}}" title="{{.Name}}">
          <h2>{{.Name}}</h2>
        </a>
      </li>
    {{end}}
  </ul>
</section>
