<h1>Profile</h1>

<section class="profile">
  <form method="post" action="/profile">
    <p>UID: {{.uid}}</p>
    <div>
      <label for="name">name: </label>
      <input type="text" name="name" value="{{ .name }}">
    </div>
    {{ .csrfField }}
    <button type="submit">update</button>
  </form>
</section>

<h2>Reviews</h2>
